body {
  margin: 0;
  background-color: gray;
  /* default text color */
  color: var(--gray);
  /* default font */
  font-family: Montserrat, Roboto, sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
}
