// body {
//   margin: 0;
//   padding: '0 auto';
//   font-family: 'Courier New', Courier, monospace;
//   border: 1px solid red;
//   background-color: #dddd;
// }
body {
  margin: 0;
  background-color: var(--dark-gray);
  /* default text color */
  color: var(--gray);
  /* default font */
  font-family: Montserrat, Roboto, sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
}
