.tile {
  display: inline-flex;
  // background-color: green;
}

.rock {
  background-color: url('/src/assets/tiles/brick-wall-2.png');
}

.tree {
  background-color: #fdfdfd;
}

.grass {
  background-image: url('/src/assets/tiles/chest.png');
  background-repeat: no-repeat;
}
