.tile {
  display: inline-flex;
}

.rock {
  background-image: url('/src/assets/tiles/brick-wall-1.png');
}

.mossy-rock {
  background-image: url('/src/assets/tiles/brick-wall-2.png');
}

.dirt {
  background-image: url('/src/assets/tiles/dirt.jpg');
}

.tree {
  background-color: #fdfdfd;
}

.grass {
  background-color: green;
}

.water {
  // background-color: aqua;
  background-image: url('/src/assets/water.png');
}

.chest {
  background-image: url('/src/assets/tiles/chest.png');
}
