$inventoryBorder: 1px outset black;
$inventoryBorderRadius: 10px;

#hud-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  position: relative;
  top: 10%;
  right: 20%;
  #inventory-button {
    height: 20px;
    width: 50%;

    position: relative;
    left: 10%;

    font-style: oblique;
    outline: none;
    background-color: transparent;
    border: $inventoryBorder;
    border-radius: $inventoryBorderRadius;

    margin-top: 5px;
    &:hover {
      color: white;
      background-color: gray;
    }
  }
}
