.magic-bar {
  position: relative;
  height: 20px;
  width: 350px;
  font-style: oblique;
  font-size: 1rem;
  border-radius: 50px;
  border: 1px solid #333;
  background-color: #e0e0eb;
  .mp-filler {
    background: #4da6ff;
    height: 100%;
    border-radius: inherit;
  }
}
