$modalBackground: #ddd;
$borderProperties: 2px outset rgba(0, 0, 0, 0.313);

li {
  list-style: none;
  margin: 5px;
}

#player-inventory {
  position: absolute;
  bottom: 150px;
  right: 400px;
  z-index: 1;
  width: 20vw;
  border: $borderProperties;
  background-color: $modalBackground;
}

#inventory-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border-left: thick solid rgba(0, 0, 0, 0.313);
  .items {
    margin-right: 5px;
    border: $borderProperties;
  }
}

.inventory-slots {
  .slots {
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    margin-right: 5px;
    text-align: right;
  }
}
